### Config file to run Crawlis with docker-compose

# Rust optimization level: debug or release
OPT_LEVEL=debug

# {MODULE_NAME}_TYPE:
#   0 -> build the module localy
#   1 -> pull from Github releases
CRAWLER_TYPE=0
KEEPER_TYPE=0
PLANNER_TYPE=0
PROFESSOR_TYPE=0

# {MODULE_NAME}_NUM: number of container instances
CRAWLER_NUM=10
KEEPER_NUM=1
PLANNER_NUM=1
PROFESSOR_NUM=1

MODULES=("CRAWLER" "KEEPER" "PLANNER" "PROFESSOR")
